}

.title {
	text-align: center;
}

.facebook {
	width: 30px;
	height: 30px;
}

.pont {
	list-style-position: inside;
	text-align: center;

}

.text {
	direction: ltr;
}

.instagram {
	width: 30px;
	height: 30px;
}

.twitter {
	width: 30px;
	height: 30px;
}
.photo-size{
	width: 100px;
	height: 100px;
}

.head-style{
	background-color: gray;
font-size: 20px;
}
.flex{
	display: flex;
	flex-direction: row;
}

.head-style1{
	background-color: white;
}